version: '3.9'

services:
  api:
    container_name: paideia-api
    env_file: ${ENV_FILE}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8001:8000
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 5
        window: 90s
    logging:
      driver: json-file
      options:
        max-file: "5"
        max-size: "10m"
    volumes:
      - ./app:/app
    networks:
      - p-net
    command: uvicorn main:app --reload --workers 4 --reload-dir /app --host 0.0.0.0 --port 8000 --proxy-headers --use-colors --forwarded-allow-ips '52.72.64.235' --root-path /beta

networks:
  p-net:
    external: true
