# pip-compile --output-file=app/requirements.txt requirements.in
fastapi
uvicorn
pydantic
requests
pandas
psycopg2
sqlmodel
databases[postgresql]
SQLAlchemy
alembic
sqlalchemy-utils
aiofiles
aiocsv
boto3
redis
pyjwt
passlib[bcrypt]
pytest
pytest-asyncio
pytest-mock
asgi-lifespan
ecdsa
pyblake2
base58
python-dotenv
# git+https://github.com/ergo-pad/ergo-python-appkit.git@v0.0.4
