fastapi
python-multipart
python-dotenv
uvicorn
pydantic
requests
psycopg2==2.9.3
databases[postgresql]
SQLAlchemy
sqlalchemy-utils
boto3
redis
pyjwt
passlib[bcrypt]
pytest
pytest-asyncio
pytest-mock
colorlog
websockets
git+https://github.com/ergo-pad/ergo-python-appkit@main
