fastapi
python-multipart
uvicorn
pydantic
requests
psycopg2-binary
asyncpg
databases[postgresql]
SQLAlchemy
sqlalchemy-utils
boto3
redis
pyjwt
passlib[bcrypt]
pytest
pytest-asyncio
pytest-mock
colorlog
