uvicorn
fastapi
websockets
python-multipart
python-dotenv
pydantic
requests
psycopg2==2.9.3
databases[postgresql]
SQLAlchemy
sqlalchemy-utils
boto3
redis
pyjwt
passlib[bcrypt]
pytest
pytest-asyncio
pytest-mock
colorlog
Pillow
git+https://github.com/ergo-pad/ergo-python-appkit@main
